@model SecureWebsitePractices2.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Your Account Details</h3>
<hr />

<address>
    <strong>Name:</strong>
    <strong>@Model.Name</strong><br />
    <strong>Username:</strong>
    <strong>@Model.UserName</strong><br />
    <strong>Email:</strong>
    <strong>@Model.Email</strong><br />
    <strong>Address:</strong>@Model.Address<br />
</address>
    <strong>Birthdate:</strong> @Model.BirthDate<br />
    <strong>NI:</strong>@Model.NINumber<br />
  <br />




<p>Contact customer support if you want to update your personal details.</p>
