@model SecureWebsitePractices.Models.LoginModel
@*@using SecureWebsitePractices.ReferenceMaps*@
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <hgroup class="title">
            <h2>Welcome @User.Identity.Name</h2>
            <br />
            <p class="lead">You can search our stocks to order our products. You can request our catalog or products and update your details by contacting our customer service.</p>
        </hgroup>
    </div>
    <hr />
    <p>
        <button class="btn btn-primary btn-lg" id="loadButton">View your details</button>
    </p>
    <hr />

    <p id="loader" style="display: none;">Loading profile...</p>

    <p id="profile" style="display: none;">
        <label>Username:&nbsp;&nbsp;</label><span id="userName">  </span><br />
        <label>Birthdate:&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="birthDate"></span><br />
        <label>NI Number:&nbsp;&nbsp;</label><span id="NINumber"></span><br />
        <label>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="address"></span><br />

    </p>
}
else if (ViewBag.Username == null)
{
    <div class="jumbotron">
        <hgroup class="title">
            <h1>Welcome</h1>
            <h2>Please login to view your profile.</h2>
        </hgroup>
    </div>
    <hr />
    using (Html.BeginForm("Index", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input class="btn btn-primary" type="submit" value="Log in" />
            </div>

        </div>

    }
}
else if (ViewBag.Username != null)
{ <div class="jumbotron">
        <hgroup class="title">
            <h2>Welcome @ViewBag.Username</h2>
            <br />
            <p class="lead">You can search our stocks to order our products. You can request our catalog or products and update your details by contacting our customer service.</p>
        </hgroup>
    </div>
    <hr />
    <p>
        <button class="btn btn-primary btn-lg" id="loadButton">View your details</button>
    </p>
    <hr />

    <p id="loader" style="display: none;">Loading profile...</p>

    <p id="profile" style="display: none;">
        <label></label><span><strong>YOUR ACCOUNT DETAILS</strong></span><br /><br />
        <label>Username:&nbsp;&nbsp;</label><span id="userName"></span><br />
        <label>Name:&nbsp;&nbsp;</label><span id="name"></span><br />
        <label>Email:&nbsp;&nbsp;</label><span id="email"></span><br />
        <label>Birthdate:&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="birthDate"></span><br />
        <label>NI Number:&nbsp;&nbsp;</label><span id="NINumber"></span><br />
        <label>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="address"></span><br />
    </p>
}

<hr /> <br /><hr />
<div class="row">

    <div class="col-md-4">
        <h2>Product Search</h2>
        <p>
            You can search our product stocks using the product ID in our catalogs. If you haven't received our catalog please contact customer service and request it to be sent to you by post.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Product Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stock Search</h2>
        <p>You can search our product  using the product name from our catalogs. If you haven't received our catalog please contact customer service.</p>
        <br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Stock Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Please contact us if you have any queries.</p>
        <br /><br /><br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loadButton").click(function () {
      $('#loader').fadeIn('slow');

        //Authorisation 2-> indirect ref
        $.get('Profile/GetProfile?userName=@ViewBag.Username', function (data) {
        @*$.get('Profile?id=@User.Identity.Name.GetIndirectReference()', function (data) {*@
            $('#userName').text(data.UserName);
            $('#name').text(data.Name);
            $('#email').text(data.Email);
            $('#birthDate').text(data.BirthDate);
            $('#NINumber').text(data.NINumber);
            $('#address').text(data.Address);

        $('#profile').delay(2000).fadeIn('slow');
        $('#loader').fadeOut('slow');
      });
    });
        });

    </script>
}
